.index{
	padding: 0; 
	margin: 0 auto;
	width: 100%; 
}

.index_center{
	width: 70%; 
}

.index_center_left{
	float: left;
	width: 14%;
}


.f1{
	color: #FF2832;
	width:77px;
	white-space:nowrap;/*�涨�����е��ı������л���*/
	overflow:hidden;/*���ݻᱻ�޼����������������ǲ��ɼ��ġ�*/
	text-overflow:ellipsis;/*��ʾʡ�Ժ��������޼����ı�*/
}


.index_center_middle{
	float: left;
	width: 1344px;
	border-top: none;
}

.new_goods ul li{
	list-style: none;
	width: 228px;
	height: 370px;
	padding: 50px 20px;
	float:left;
	text-align: center;
}
.new_goods ul li a:link{
	text-decoration: none; 
	color: #000; 
}

.new_show{
  	height: 270px;
  	max-width: 100%;
}

.index_center_right{
	/* background-color:pink; */
	float: left;
	width: 344px;
	height: 600px; 
}
.notice{
	width: 100%;
	margin-left:0px;
}
.notice_title{
	text-align: center;
	width: 100%;
	padding: 11px 0px;
	background-color: #EFF4FA;
}
.notice_con ul li{
	margin-left:28px;
	padding-top:20px;
	font-size:19px;
	text-overflow:ellipsis;
	border-bottom:2px solid #EFF4FA;
}

.hi{
	width:auto;
	margin-top:23px;
	font-size:18px;
	white-space:nowrap;/*�涨�����е��ı������л���*/
	overflow:hidden;/*���ݻᱻ�޼����������������ǲ��ɼ��ġ�*/
	text-overflow:ellipsis;/*��ʾʡ�Ժ��������޼����ı�*/
}

.hi_text{
	width:230px;
	height: 45px;
	color: #7b7b7b;
	overflow:hidden;/*���ݻᱻ�޼����������������ǲ��ɼ��ġ�*/
	text-overflow:ellipsis;/*��ʾʡ�Ժ��������޼����ı�*/
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;

}
.f2{
	color: #FF2832;
	width:auto;
}



.notice_con ul li a:link{
	text-decoration: none; 
	
	color: #7B7B7B;
}
.notice_con ul li a:hover{
	text-decoration: none; 
	color: #FF2832;
}
.page{
    margin-top: 47px;
    margin-right: 646px;
    float: right;
}