/* 外框 */
.index{
	padding: 0; 
	margin: 0 auto;
	width: 100%; 
}
/*中间内容布局*/
.index_center{
	width: 70%; 
}
/*中间内容左部分*/
.index_center_left{
	float: left;
	width: 14%;
}


.f1{
	color: #FF2832;
	width:77px;
	white-space:nowrap;/*规定段落中的文本不进行换行*/
	overflow:hidden;/*内容会被修剪，并且其余内容是不可见的。*/
	text-overflow:ellipsis;/*显示省略号来代表被修剪的文本*/
}

/*index 中间内容中间部分 */
.index_center_middle{
	float: left;
	width: 1344px;
	border-top: none;
}

/*最新商品*/
.new_goods ul li{
	list-style: none;
	width: 228px;
	height: 370px;
	padding: 50px 20px;
	float:left;
	text-align: center;
}
.new_goods ul li a:link{
	text-decoration: none; 
	color: #000; 
}

/*最新商品图片*/
.new_show{
  	height: 270px;
  	max-width: 100%;
}


/*index 中间内容右部分  公告栏*/
.index_center_right{
	/* background-color:pink; */
	float: left;
	width: 344px;
	height: 600px; 
}
.notice{
	width: 100%;
	margin-left:0px;
}
/*公告栏标题*/
.notice_title{
	text-align: center;
	width: 100%;
	padding: 11px 0px;
	background-color: #EFF4FA;
}
/*公告列表*/
.notice_con ul li{
	margin-left:28px;
	padding-top:20px;
	font-size:19px;
	text-overflow:ellipsis;
	border-bottom:2px solid #EFF4FA;
}

.hi{
	width:auto;
	margin-top:23px;
	font-size:18px;
	white-space:nowrap;/*规定段落中的文本不进行换行*/
	overflow:hidden;/*内容会被修剪，并且其余内容是不可见的。*/
	text-overflow:ellipsis;/*显示省略号来代表被修剪的文本*/
}

.hi_text{
	width:230px;
	height: 45px;
	color: #7b7b7b;
	overflow:hidden;/*内容会被修剪，并且其余内容是不可见的。*/
	text-overflow:ellipsis;/*显示省略号来代表被修剪的文本*/
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;

}
.f2{
	color: #FF2832;
	width:auto;
}



.notice_con ul li a:link{
	text-decoration: none; 
	
	color: #7B7B7B;
}
.notice_con ul li a:hover{
	text-decoration: none; 
	color: #FF2832;
}
