/*登陆文字*/
.login_text{
	margin-top:30px;
	letter-spacing: 50px;
}
/*登录页面表格布局*/
table{
	text-align: center;
	width: 20%;
	height: 400px;
	font-size: 18px;
	margin-top: 30px;
}
/*input 设置*/
.textSize{
	width: 270px;
	height: 25px;
	border: none;
	border-bottom: 1px solid #C1C1C1;
	outline:none;
	font-size: 18px;
}
/*图片验证码单元格*/
.v_code{
	height: 100px;
}
/*验证码图片大小*/
.v_img{
	width: 90px;
	height: 42px;
}
/*两个提交 中间的空间*/
.but{
	letter-spacing: 90px;
}
/*错误提示*/
.msg{
	font-size: 18px;
	color: red;
}
