<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.movie.dao.admin.AdminDao">
    
	<select id="selectAdminUserByPage"  resultType="user" parameterType="page">
		select * from user where state = 0 and isAdmin = 0 order by time desc limit #{page.pageNo},#{page.pageSize} 
	</select>
	
	<select id="selectAdminUserCount"  resultType="Integer" parameterType="page">
		select count(1) from user where state = 0 and isAdmin = 0  limit #{page.pageNo},#{page.pageSize} 
	</select>
	
	<update id="userState" parameterType="string">
		update user set state = ABS(state-1) where id = #{userId}
	</update>
	
</mapper>